<div class="border rounded shadow bg-dark text-white">
    <form method="post" class="p-4" action="/">
        <h3 class="mb-4 text-center">Create account</h3>
        <label for="user_name" class="form-label">Username</label>
        <input type="text" id="user_name" name="user_name" class="form-control" required>
        
        <label for="plain_password" class="form-label">Password</label>
        <input type="password" id="plain_password" name="plain_password" class="form-control" required>
        <button type="submit" class="btn btn-primary w-100 mt-3">Login</button>
    </form>

    <form method="post" class="p-4 shadow bg-dark text-white" action="/">
        <input type="hidden" name="create_account" value="false">
        <button type="submit" class="btn btn-outline-primary w-100">
                already have one? login
        </button>
    </form>
</div>