<div class="list-group d-flex flex-column h-100">
    <h1>contacts</h1>

    <button type="button" class="list-group-item list-group-item-action d-flex justify-content-between">
        <span>Emma Wilson</span>
        <span>ID: 2</span>
    </button>

    <button type="button" class="list-group-item list-group-item-action d-flex justify-content-between">
        <span>Alice Brown</span>
        <span>ID: 3</span>
    </button>

    <button type="button"
            class="list-group-item list-group-item-action mt-auto bg-primary text-white"
            id="add_contact">
        + Add Contact
    </button>
</div>