
<div class="border rounded shadow bg-dark text-white">
    <form method="post" class="p-4 " action="/">
        <h3 class="mb-4 text-center">Login</h3>
        <label for="user_name" class="form-label">Username</label>
        <input type="text" id="user_name" name="user_name" class="form-control" required>
    
        <label for="plain_password" class="form-label">Password</label>
        <input type="password" id="plain_password" name="plain_password" class="form-control" required>
        <button type="submit" id="login" name="action" class="btn btn-primary w-100 mt-3" value="login">Login</button>
        <button type="submit" id="create_account" name="action" class="btn btn-outline-primary w-100" value="create_account">Create account</button>
    </form>
</div>